.total {
  background-color: #00494d;
  color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.text {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.value {
  font-size: 2rem;
  font-weight: bold;
}

.reset {
  background-color: #26c0ab;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
}

.reset:hover {
  background-color: #9fe8df;
}
